<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmBluetoothInjector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmFirmwareData</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmFirmwareData.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmPatchRAM3</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmPatchRAM3.kext</string>
			</dict>